@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
body{
    
        background: rgb(255, 255, 255);
       background:url("../imagenes/fondo-2.jpg");
       background-size: cover;
       text-align: center;
       font-family: 'Libre Baskerville', serif;
    } 
    
    h1{
        color: rgba(255, 255, 255, 0.603);
         font-family: cursive;
         text-align: center;
         font-size: 50px;
    }
    
    button{
        padding: 15px 40px;
        font-size: 22px;
        background: transparent;
        border: 3px solid rgba(253, 252, 253, 0.658);
        color: rgb(255, 254, 254);
        cursor: pointer;
        transition: 1s;
        font-family: 'Libre Baskerville', serif;
    }
    button:hover {
        border: 3px solid rgb(250, 250, 250);
        color: rgb(255, 255, 255);
        border-radius: 10px;
        font-family: 'Libre Baskerville', serif;
    }